body {
  background-color: black;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 30px;
}
a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  padding: 11px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px;
  text-shadow: 1px 4px black;
  /* ancienne methode */
  /* background-image: url(./assets/fond_degrade.png);
  background-repeat: repeat-x;  */

  /* nouvelle methode */
  background: linear-gradient(to bottom, white, gray);
}
